<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/webapplication-context.xml</param-value>
    </context-param>

    <beans>
        <bean id="login" class="command.LoginCommand"/>
        <bean id="logout" class="command.LogoutCommand"/>
    </beans>

</web-app>